.list-best {
    background-color: red;

    &:nth-child(5) {
        background-color: $bg-color;
        color: red;
    }
}

.list-best1 {
    background-color: $text-color;
    color: $bg-color;
    width: 350px;

    &:hover {
        color: $bg-color;
    }

}

#portfolio {
    color: var(--accent-color);
}


.hello {
    color: black;

    &:hover {
        color: red;
    }
}


.header {
    
    border-bottom: 1px solid var(--border-box);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.container.headers {
    display: flex;

    position: relative;
    /* position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        left: auto;
        right: auto;
        min-height: 80px;
        background-color: white; */
    align-items: center;

} 






// Test

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.icon-cross {
    display: none;
}

.menu-toggle.js-open-menu .icon-cross {
    display: block;
}

.menu-toggle.js-open-menu .icon-menu {
     display: none;
 }

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #FFFFFF;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;
}


// НОВЫЙ КОД

.header {

    border-bottom: 1px solid var(--border-color);


}

.header__container {
    // position: relative;
    display: flex;

}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    color: var(--accent-color);
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;


}

.logo__black {
    color: var(--text-title-color);
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.navigation__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--slow-anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.navigation__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.navigation__link--current {
    color: var(--accent-color);
    text-decoration: none;

    &::after {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        content: '';
        border-radius: 2px;
        background-color: var(--accent-color);
        transition: background-color var(--slow-anim);
    }
}

.navigation__link .link:active {
    color: var(--accent-color);
}



/*CONTACTS*/

.contact__list {
    display: flex;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
        flex-wrap: wrap;
        margin: auto;
    }


}

.contact__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0;

    }

}



.contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color var(--slow-anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 0 0 0 0;
    }

}

.contact__link-mail {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 21px;
        margin-bottom: 10px;
    }
}

.contact__link-phone {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 21px;
    }
}





.contact__icon {
    margin-right: 10px;
    fill: currentColor;

}

.contact__icon-mail {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 10px;
    }
}

.contact__icon-phone {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }
}

