.menu-container {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    background-color: #FFFFFF;
    transition: opacity 250ms $timing-function, visibility 250ms $timing-function;
    padding: 48px 40px;
    transition: transform 250ms $timing-function;


}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-button {
    display: block;
    //    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
    }


    @media screen and (min-width: 768px) {
        display: none;
    }
}



.mobile-menu__item-nav {
    list-style: none;


}

.mobile-menu__item-nav:not(:last-child) {
    margin-bottom: 32px;
}


.mobile-menu__link-curent {
    color: var(--accent-color);
}

.mobile-menu__contacts {
    margin-top: auto;


}

.mobile-menu__item-contacts {
    list-style: none;
    margin-top: auto;
    margin-bottom: 32px;


}

.mobile-menu__link-phone {

    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;

    letter-spacing: 0.02em;

    color: #2196F3;
    text-decoration: none;

        @media screen and (max-width:400px) {
                font-size: 25px;
                line-height: 1.22;
            }

}

.mobile-menu__link-email {

    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: #757575;
    text-decoration: none;

    @media screen and (max-width:400px) {
        font-size: 20px;
        line-height: 2;
}
}



.mobile-menu__link-nav {

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: #212121;
    text-decoration: none;
    transition: color var(--slow-anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

                @media screen and (max-width:400px) {
                    font-size: 25px;
                    line-height: 1.5;
                }

}

.mobile-menu__link-curent {
    color: var(--accent-color);
}

.mobile-menu__socials {
    display: flex;
    flex-wrap: wrap;

        @media screen and (min-width:400px) {
                margin-top: 32px;
            }

    @media screen and (min-width:400px) {
        margin-top: 32px;
    }
    
}

.mobile-menu__item-socials {
    list-style: none;
    justify-content: flex-start;

    &:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);

        @media screen and (max-width:400px) {
            padding-right: 5px;
            margin-right: 0;
        }
    }

}


.menu-button:hover>.mobile-menu__icon,
.menu-button:focus>.mobile-menu__icon {
    fill: var(--accent-color);
}

.mobile-menu__icon {
width: 24px;
height: 16px;
}


.mobile-menu__item-socials:not(:last-child) {
    margin-right: 10px;
            @media screen and (max-width:400px) {
                    
                    margin-right: 5px;
                }
}

.mobile-menu__link-socials {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    
    letter-spacing: 0.02em;

    color: #2196F3;

@media screen and (max-width:400px) {
        font-size: 8px;
        line-height: 1.22;
}


}